NODE_ENV=development
PORT=3000
HOST=127.0.0.1
REDIS_HOST=localhost
REDIS_PORT=6379
DB_HOST=localhost
DB_PORT=3307
DB_NAME=social_network
DB_USERNAME=root
DB_PASSWORD=123456789

# Required for Prisma and Render Deployment
DATABASE_URL="mysql://root:123456789@localhost:3307/social_network"
REDIS_URL="redis://localhost:6379"

JWT_SECRET_KEY=hehetuiladevvietday
VERIFY_TOKEN_URL=http://localhost:3000/v1/rpc/introspect
POST_SERVICE_URL=http://localhost:3000/v1
USER_SERVICE_URL=http://localhost:3000/v1
COMMENT_SERVICE_URL=http://localhost:3000/v1
FOLLOW_SERVICE_URL=http://localhost:3000/v1
TOPIC_SERVICE_URL=http://localhost:3000/v1
POST_LIKE_SERVICE_URL=http://localhost:3000/v1
POST_SAVED_SERVICE_URL=http://localhost:3000/v1
CDN_URL=http://localhost:3000/uploads
